::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
    
::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
    
::-webkit-scrollbar-thumb {
  	border-radius: 10px;
 	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  	background-color: #BEA992;
}

/* BACKGROUND
 */
/* Exo thin font from Google. */
@import url(https://fonts.googleapis.com/css?family=Exo:100);

/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}

@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}

/* Main styles */
body {
    height: auto;
    margin-top: 13.5rem;
    color: #999;
    font: 400 16px/1.5 exo, ubuntu, "segoe ui", helvetica, arial, sans-serif;
    text-align: center;
    /* img size is 50x50 */
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
    -webkit-animation: bg-scrolling-reverse .92s infinite;
    /* Safari 4+ */
    -moz-animation: bg-scrolling-reverse .92s infinite;
    /* Fx 5+ */
    -o-animation: bg-scrolling-reverse .92s infinite;
    /* Opera 12+ */
    animation: bg-scrolling-reverse .92s infinite;
    /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}




h2{
    text-align: center;
    font-size: larger;
    font-weight: 700;
    letter-spacing: 5px;
    word-spacing: 20px;
    line-height: 40px;
}

h3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    margin-left: 60px;
    font-weight: 700;
    color: #434655;
    line-height: 40px;
}

h4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: 700;
    margin-left: 60px;
    color: #434655;
    line-height: normal;
}

h5{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    font-weight: 700;
    color: white;
}

h6{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
    color: white;
}
footer{
    top: 15px;
    height: 10vh;
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #434655;
    font-size: larger;
    text-align: center;
}

.subtitulo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #434655;
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 50px;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/**********************************************************************************************BOTON REGRESAR*/
.button-82-pushable {
    position: relative;
    margin-top: auto;
    margin-left: auto;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            #a08883 0%,
            #a08883 8%,
            #a08883 92%,
            #a08883 100%);
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    background: #B4A58C;
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 2rem;
        padding: 2px 8px;
        font-weight: bolder;
        color: white;
        text-decoration: none;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}
/*******************************************************************************************FIN BOTON REGRESAR*/



/*CONTENIDO TEMATICO*/
.columnA {
    position: absolute;
    top: 150px;
    left: 235px;
    width: 200px;
    margin-top: 10px;
    background-color: #958971;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    padding-top: 10px;
}

.columnP {
    position: absolute;
        top: 150px;
        right: 255px;
        width: 200px;
        margin-top: 10px;
        background-color: #958971;
        color: white;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-style: normal;
        font-variant: small-caps;
        text-transform: capitalize;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
        padding-top: 10px; 
    }

.Hheader {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
    padding-top: 15px;
    color: white;
    margin-left: 50px;
    
}
/*FIN CONTENIDO TEMATICO*/


/*CONTENIDO DE TITULOS*/
.ActivosPasivos {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight:900;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 50px;
    color: #5F6EBF;

}

.titulo_boton {
    color: #434655;
    margin-bottom: 50px;
    text-align: right;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: helvetica;
    font-size: 40px;
    font-weight: bold;
    line-height: 40px;

}

.boton_mostrar {
    border: none;
    color: #434655;
    text-align: center;
    font-size: 25px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    
}

/*FIN DE CONTENIDO DE TITULOS*/


/*CONTENIDOS DE TABLA*/

#contenidoAC {
    display: none;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-top: 20px;
}

#contenidoPC {
    display: none;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-top: 20px;
}



#contenidoANC {
    display: none;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-top: 20px;
}

#contenidoPNC {
    display: none;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-top: 20px;
}



#contenidoOANC {
    display: none;
        text-decoration: none;
        position: relative;
        width: 100%;
        height: auto;
        margin-bottom: 30px;
        margin-top: 20px;
}

#contenidoP {
    display: none;
    text-decoration: none;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    margin-top: 20px;          
}
/*FIN DE LOS CONTENIDOS DE TABLA*/











/*SITUACION*/
.offset {
    margin-top: 0;
    padding-top: 100px;
    text-align: center;
    transition: 0.3s;
}

.header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    text-align: center;
    color: white;
    position: static;
    width: 100%;
    height: 110px;
    text-align: center;
    background:#B4A58C;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.contenido {
    text-decoration: none;
    background-color: #D2C8B5;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 80px;
    box-shadow: rgba(38, 57, 77, 0.616) 0px 20px 30px 5px;
    border-radius: 10px;
    color: #4E4F52;
}


/*FIN SITUACION*/



.tablaAC tbody td{
    background-color: #F4EBDB;
    font-family: helvetica;
    font-size: 50px;
    color:#424242;
    height: 75px;
    letter-spacing: 2;
}

.tablaPC tbody td {
    background-color: #F4EBDB;
    font-family: helvetica;
    font-size: 50px;
    color: #424242;
    height: 75px;
    letter-spacing: 2;
}

.tablaANC tbody td {
    background-color: #F4EBDB;
    font-family: helvetica;
    font-size: 50px;
    color: #424242;
    height: 75px;
    letter-spacing: 2;
}

.tablaPNC tbody td {
    background-color: #F4EBDB;
    font-family: helvetica;
    font-size: 50px;
    color: #424242;
    height: 75px;
    letter-spacing: 2;
}

.tablaOANC tbody td {
    background-color: #F4EBDB;
    font-family: helvetica;
    font-size: 50px;
    color: #424242;
    height: 75px;
    letter-spacing: 2;
}

.tablaP tbody td {
    background-color: #F4EBDB;
    font-family: helvetica;
    font-size: 50px;
    color: #424242;
    height: 75px;
    letter-spacing: 2;
}
.contenedor{

}

.container {
    height: 50px;
    position: relative;
}

table tbody td{

}

/*************************************************************************








*/

@import url("https://fonts.googleapis.com/css?family=Mukta:700");

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

button {
    top: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}



.centrar-boton {
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}